<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-header d-flex justify-content-between align-items-center">
                <h3 class="card-title">Команда</h3>
                    <div class="btn-group ml-auto">
                    {% if "PROJECTS:PROJECT_CREW:CREATE"|instancePermissions %}
                        <button type="button" class="btn btn-default btn-small" data-toggle="modal" data-target="#addCrewModal">Добавить в команду</button>
                    {% endif %}
                    {% if "PROJECTS:PROJECT_CREW:VIEW:EMAIL_CREW"|instancePermissions and project.crewAssignments|length > 0 %}
                        <button type="button" class="btn btn-default btn-small" data-toggle="modal" data-target="#emailCrewModal">Написать команде</button>
                    {% endif %}
<a href="{{ CONFIG.LINKS_USERGUIDEURL }}projects/crew/" target="_blank" type="button" class="btn btn-info btn-small">Помощь</a>

                </div>
            </div>
            <div class="card-body p-0">
                <ul id="crewList" class="todo-list">
                    {% for crew in project.crewAssignments %}
                        <li value="{{crew.crewAssignments_id}}"
                            {% if crew.users_userid is null and crew.crewAssignments_personName is null %}
                            class="danger"
                            {% elseif crew.users_email|length < 1 %}
                            class="warning"
                            {% endif %}>
                            {% if "PROJECTS:PROJECT_CREW:EDIT:CREW_RANKS"|instancePermissions %}
                                <span class="handle">
                                    <i class="fas fa-ellipsis-v"></i>
                                    <i class="fas fa-ellipsis-v"></i>
                                </span>
                            {% endif %}
                                <span class="text">
                                    {{crew.crewAssignments_role}} -
                                    {% if crew.users_userid is null and crew.crewAssignments_personName is null %}
                                        <i>Свободно</i>
                                    {% elseif crew.users_name1 %}
                                        {% if "BUSINESS:USERS:VIEW:INDIVIDUAL_USER"|instancePermissions %}
                                            <a href="{{ CONFIG.ROOTURL }}/user.php?id={{ crew.users_userid }}">
                                        {% endif %}
                                        {{ crew.users_name1 ~ " " ~ crew.users_name2 }}
                                        {% if "BUSINESS:USERS:VIEW:INDIVIDUAL_USER"|instancePermissions %}
                                            </a>
                                        {% endif %}
                                    {% else %}
                                        {{ crew.crewAssignments_personName }}
                                    {% endif %}
                                </span>
                            {% if crew.crewAssignments_comment|length > 0 %}
                                <i class="fas fa-info-circle" data-toggle="popover" title="{{crew.crewAssignments_role|escape('html_attr')}}" data-content="{{ crew.crewAssignments_comment|escape('html_attr') }}"></i>
                            {% endif %}
                            <div class="tools">
                                {% if "PROJECTS:PROJECT_CREW:EDIT"|instancePermissions %}
                                    <i class="far fa-edit editCrewAssignment" data-assignment="{{ crew.crewAssignments_id }}" data-role="{{crew.crewAssignments_role|escape('html_attr')}}" data-comment="{{crew.crewAssignments_comment|escape('html_attr')}}" title="Изменить"></i>
                                    <i class="far fa-comment editCrewAssignmentComment" data-assignment="{{ crew.crewAssignments_id }}" data-comment="{{crew.crewAssignments_comment|escape('html_attr')}}" title="Изменить комментарий"></i>
                                    <i class="fas fa-trash deleteCrewAssignment" data-assignment="{{ crew.crewAssignments_id }}" title="Удалить из команды"></i>
                                {% endif %}
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <div class="card-header d-flex justify-content-between align-items-center">
                <h3 class="card-title">Вакансии ролей в команде</h3>
                {% if "PROJECTS:PROJECT_CREW:EDIT:CREW_RECRUITMENT"|instancePermissions %}
                <a href="{{ CONFIG.ROOTURL }}/project/crew/vacantCrew.php?id={{ project.projects_id }}" type="button" class="btn btn-secondary btn-sm ml-auto">Управлять</a>
                {% endif %}
            </div>
        </div>
        {% if crewRecruitment|length < 1 %}
            <div class="alert alert-info">
                <p class="my-auto">
                    <i class="fas fa-info-circle"></i> 
                    Сейчас нет открытых вакансий в команде для этого проекта.
                </p>
            </div>
        {% endif %}
        {% for role in crewRecruitment %}
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">{{ role.projectsVacantRoles_name }}</h4>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-12">
                            <h5>Описание</h5>
                            <p>{{ role.projectsVacantRoles_description }}</p>
                            <h5>Требования к кандидату</h5>
                            <p>{{ role.projectsVacantRoles_personSpecification }}</p>
                            {% if role.projectsVacantRoles_deadline %}
                                <p>
                                    <strong>Срок: </strong>
                                    {{ role.projectsVacantRoles_deadline|date("d M Y h:ia") }}
                                </p>
                            {% endif %}
                            <p>
                                <strong>Свободных мест: </strong>
                                {{ role.projectsVacantRoles_slots - role.projectsVacantRoles_slotsFilled }}
                            </p>
                            <div class="project-actions text-center">
                                <div class="btn-group">
                                    <a type="button" class="btn btn-default btn-sm" href="{{CONFIG.ROOTURL}}/project/crew/vacancy.php?id={{ role.projectsVacantRoles_id }}&from=project">
                                        Подробнее и
                                        {% if role.projectsVacantRoles_firstComeFirstServed %}
                                        Записаться
                                        {% else %}
                                        Подать заявку
                                        {% endif %}
                                    </a>
                                </div>
                            </div>
                        </div>      
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
